In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
df =pd.read_csv("Titanic_train_numeric.csv")

In [3]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    2  38.0      1      0  71.2833         1
2            3         1       3    2  26.0      0      0   7.9250         2
3            4         1       1    2  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null object
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null int64
dtypes: float64(1), int64(7), object(1)
memory usage: 62.7+ KB