In [5]:
from datetime import time
t = time(20,55,20,500)

In [6]:
print(t)

20:55:20.000500

In [7]:
n = time(minute = 45, hour = 9, microsecond = 900000, second = 20)

In [8]:
print(n)

09:45:20.900000

In [9]:
z = time(hour = 1, minute = 10)
print(z)

01:10:00

In [13]:
x = time(hour = 23)
print(x)

23:00:00

In [14]:
t = time(9,10,43,100)

h = t.hour
m = t.minute
s = t.second
ms =t.microsecond

print(h,"hour ",m," minutes ",s,".",ms," seconds")

9 hour  10  minutes  43 . 100  seconds

In [15]:
from datetime import time
t = time(9,10,55,330)

print("Old time : ",t)

t = t.replace(12,12)

print("New time : ",t)

Old time :  09:10:55.000330
New time :  12:12:55.000330

In [16]:
from datetime import date

date1 = date(2014,5,7)
print("Date1 is :",date1)

Date1 is : 2014-05-07

In [17]:
date2 = date(day = 23, month = 3, year = 2018)
print(date2)

2018-03-23

In [20]:
specialDate = date(2017,12,13)

y = specialDate.year
m = specialDate.month
d = specialDate.day

print("The year is ",y,m," months and",d, "day")

The year is  2017 12  months and 13 day

In [22]:
SomeDate = date(2018,3,4)
print("Old date",SomeDate)

SomeDate = SomeDate.replace(2019,5)
print("New Date ",SomeDate)

Old date 2018-03-04
New Date  2019-05-04

In [23]:
d =date.today()

In [26]:
print(d)

2018-08-31

In [27]:
from datetime import datetime

dt = datetime(2022,7,1,16,30)
print("Method 1",dt)

dt = datetime(day = 29, month = 4, year = 1997, hour = 21, minute =3, second = 55)
print("Method 2", dt)

Method 1 2022-07-01 16:30:00
Method 2 1997-04-29 21:03:55

In [28]:
print("Year is ",dt.year)

Year is  1997

In [29]:
print("Hour is ",dt.hour)

Hour is  21

In [30]:
dd = datetime.today()

In [31]:
print(dd)

2018-08-31 12:07:54.074767

In [32]:
print(dd.time())

12:07:54.074767

In [33]:
print(dd.date())

2018-08-31

In [34]:
from datetime import datetime, date ,time

t = time(2,2,2,200)
d =date(2017,3,3)

dt = datetime.combine(date = d, time = t)
print(dt)

2017-03-03 02:02:02.000200

In [35]:
my = datetime.today()

In [38]:
dr = my.hour
print(dr)

12

In [41]:
from datetime import date
t = time(hour = 0, minute = 15)

formatted_date = t.strftime("%I:%M %p")
print("First Format : ",formatted_date)

formatted_date = t.strftime("%H:%M:%S")
print("Second Format ", formatted_date)

First Format :  12:15 AM
Second Format  00:15:00

In [42]:
d = date(1999,11,3)

formatted_date = d.strftime("%B, %d, %Y")
print("First Format : ",formatted_date)

formatted_date = d.strftime("%b %d %y")
print("Second Format:", formatted_date)

First Format :  November, 03, 1999
Second Format: Nov 03 99

In [43]:
from datetime import datetime

dt = datetime(1999,11,3,10,15)
formatted_string = dt.strftime("%B, %d, %Y @ %I:%M %p")
print("First Format : ",formatted_string)

formatted_string = dt.strftime("%b, %d %y @ %H:%M:%S")
print("Second format :",formatted_string)

First Format :  November, 03, 1999 @ 10:15 AM
Second format : Nov, 03 99 @ 10:15:00

In [46]:
from datetime import timedelta

delta1 = timedelta(days = 2, seconds = 0, minutes = 15, hours = 1, weeks = 4)
print(delta1,"is stored in delta1")

30 days, 1:15:00 is stored in delta1

In [48]:
d = delta1.days
s = delta1.seconds

print("Days =",d,"| Seconds = ",s)

Days = 30 | Seconds =  4500

In [49]:
all_seconds = delta1.total_seconds()

In [51]:
print("Total seconds",all_seconds)

Total seconds 2596500.0

In [55]:
from datetime import datetime, timedelta

date1 = datetime(2015,1,19)
date2 = datetime.today()

delta2 = date2 - date1
print(delta2,"is stored in delta2")
print("Total numbers of seconds = ",delta2.total_seconds())

1320 days, 13:31:01.480673 is stored in delta2
Total numbers of seconds =  114096661.480673

In [63]:
from datetime import datetime, timedelta

one_hundred_days = timedelta(days = 100)
current_date = datetime.today()

new_date = current_date + one_hundred_days

print("100 days after ",current_date,"is",new_date)

print(one_hundred_days.total_seconds())

100 days after  2018-08-31 13:39:52.121967 is 2018-12-09 13:39:52.121967
8640000.0

In [65]:
one_hundred_days = timedelta(days = 100)
two_hundred_days = one_hundred_days * 2
three_hundred_days = one_hundred_days * 3

current_date = datetime.today()

new_date1 = current_date + two_hundred_days
new_date2 = current_date + three_hundred_days

print("After 200 days:", new_date1.strftime("%b/%d/%Y"))
print("After 300 days:", new_date2.strftime("%b/%d/%Y"))

After 200 days: Mar/19/2019
After 300 days: Jun/27/2019

In [66]:
from datetime import date

birthday1 = date(year = 1993, month = 3, day =5)
birthday2 = date(2003,3,20)

if(birthday1 > birthday2):
    print("Person 2 is older")
elif(birthday1 < birthday2):
    print("Person1 is older")
else:
    print("Both are of same age.")

Person1 is older

In [67]:
birthday1 == birthday2

False

In [68]:
from datetime import datetime, timedelta

now = datetime(2019,10,23)

solstice = datetime(year = 1, month = 12, day =23)
solstice = solstice.replace(year = (now.year))

count = solstice - now

print("count is type",type(count))
print("there are only",count.days,"days till December solstice")

count is type <class 'datetime.timedelta'>
there are only 61 days till December solstice