In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
df =pd.read_csv("Titanic_train_numeric.csv")

In [ ]:
df.head()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null int64
dtypes: float64(2), int64(7)
memory usage: 62.7 KB

In [5]:
test_df =df["Survived"]

In [6]:
test_df.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [7]:
train_df = df.drop(["Survived"],axis=1)

In [8]:
train_df.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1       3    1  22.0      1      0   7.2500         2
1            2       1    2  38.0      1      0  71.2833         1
2            3       3    2  26.0      0      0   7.9250         2
3            4       1    2  35.0      1      0  53.1000         2
4            5       3    1  35.0      0      0   8.0500         2

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(train_df, test_df, test_size= .10)

In [10]:
X_train.head()

     PassengerId  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
267          268       3    1  25.000000      1      0   7.7750         2
206          207       3    1  32.000000      1      0  15.8500         2
430          431       1    1  28.000000      0      0  26.5500         2
113          114       3    2  20.000000      1      0   9.8250         2
552          553       3    1  29.699118      0      0   7.8292         3

In [11]:
X_test.count()

PassengerId    90
Pclass         90
Sex            90
Age            90
SibSp          90
Parch          90
Fare           90
Embarked       90
dtype: int64

In [12]:
decision_tree = DecisionTreeClassifier(random_state=4)

In [13]:
decision_tree.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=4,
            splitter='best')

In [14]:
Y_pred =decision_tree.predict(X_test)

In [15]:
Y_pred

array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0], dtype=int64)

In [16]:
Y_test == Y_pred

774     True
377    False
802    False
866     True
131    False
707     True
662    False
716     True
777     True
807    False
300     True
315     True
733     True
646     True
739     True
221     True
74     False
845     True
153     True
207    False
615     True
822     True
345    False
790     True
16      True
314     True
842     True
55     False
107    False
294     True
       ...
475     True
355     True
366     True
595     True
738     True
700     True
864     True
855    False
451     True
134     True
78      True
403     True
593    False
704     True
89      True
24      True
201     True
467    False
719     True
28      True
168     True
724     True
547     True
597     True
10     False
685     True
606     True
496     True
420     True
324     True
Name: Survived, Length: 90, dtype: bool

In [17]:
decision_tree.score(X_test, Y_test)

0.8